.Project_Card ,.Project_deatil{
    padding: 2rem;
    background-color: white ;
    border: solid 1px gray;
    border-radius: 1.25rem;
    cursor: pointer;
    height: 300px;
    width: 500px;
    box-shadow: 1rem 1rem  #494747, -1em -1rem  #000;
 
    transition: transform 3s ease-in-out 0.1s;
    transform: translateX(0px);  
    will-change: transform;
    
}
 
.Project_Card:hover{
 transform: translateX(-100px);   
 transition: transform 3s ease ;

}
.Description{
    display: none;
}
.Description:hover{
  
    pointer-events: none;
}
.Project_Card:hover + .Description{
    animation: fadeIn 1s;
    text-align: left;
    display: flex;
    flex-direction: column;
  
}
.Display{
    display: flex;
    
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% { opacity:1;}
}
.Summary{
    padding: 0.5rem;
    font-size: var(--title-font-size);
}
.Desc{
    list-style: square;
    margin-left: 50px;
    font-size: var(--smaller-font-size);
}
.Project_subtitle{
    font-size: var(--title-font-size);
    color: #000;
}
.Project_container{
    column-gap: 3rem;
    justify-content: center;
  
}
.Project_img{
    object-fit: contain;
}
.Project_Summary{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.ProjectCard_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:150px;
}
.Project_demo{
   padding: 0.5rem;
   font-size: var(--smaller-font-size);
   border-radius: 1rem;
}
.SkillStack{
        display: flex;
        gap:10px;
        color:var(--text-color);
        padding: 1rem;
        text-align: center;
        align-items: center;
}
.SkillStack >span{
    border: 1px solid var(--text-color);
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: var(--smaller-font-size);
}
 
.None{
    display: none;
}
.Project_description{
    font-size: var(--subtitle-font-size);
}
.Project{
    padding: 1rem; 
}
.Project_text{
    font-size: larger;
    text-align: center;
    padding: 0.5rem;
 
}
 td{
    border:1px solid black;
    padding: 0.5rem;
  }
 
.Project_Display{
    padding: 1rem;
    width: 100%;
    border-collapse: collapse;
    font-size: xx-small;
}
th{
    font-size: large;
    color: #000;
}
.Project_wrapper{
    overflow:auto;  
  
}
  
.Project_Skill{
    display: flex;
    
}
 

@media only  screen and (max-width: 800px){
     
    .Project_WorkLog{
        display: none;
    }
    .Project_container{
        display: flex;
    }
    
    .Project_Card{
        height: 250px;
        width: 300px;
        padding: 1rem;
    }
    .Project_Card:hover {
        display: none;
    }
    
     
    .Project_subtitle{
        text-align: center;
        font-size: var(--medium-font-size);
    }
.SkillStack{
    font-size: var(--smaller-font-size);
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
.wrapper{
    justify-content:left ;
}
.SkillStack > span{
    padding: 0.25rem;
    font-size: 10px;
}
 
}
