.Project_Card ,.Project_deatil{
    padding: 2rem;
    background-color: white ;
    border: solid 1px gray;
    border-radius: 1.25rem;
    cursor: pointer;
   
}
 
.Project_container{
    grid-template-columns: 35% 50%;
    column-gap: 3rem;
    justify-content: center;
  
}
.Project_img{
    object-fit: contain;
}
.Project_Summary{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
}
.ProjectCard_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Project_WorkLog{
    border: 1px solid ;
    border-radius: 2rem;
    padding: 2rem;
}
 
.Project_text{
    font-size: larger;
    text-align: center;
    padding: 0.5rem;
 
}
 td{
    border:1px solid black;
    padding: 0.5rem;
  }
 
.Project_Display{
    padding: 1rem;
    width: 100%;
    border-collapse: collapse;
    font-size: xx-small;
}
th{
    font-size: large;
    color: #000;
}
.Project_wrapper{
    overflow:auto;  
  
}
 
.Project_Skill{
    display: flex;
    
}
 
@media only  screen and (max-width: 800px){
     
    .Project_WorkLog{
        display: none;
    }
    .Project_container{
        display: flex;
    }
    

    .ProjectCard_container{
        display: flex;
        gap: 30px;
       

    }
        

  
}