.skills_container{
    justify-content: center;
}
 
.Skills_showcase{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;

}

.Skill_avatar{
    width: 100px;
    height: 100px;
}
.Title{
    text-align: center;
    font-size: var(  --big-font-size);
    color: var(--title-color);
    padding: 2rem;
}
.Skill{
    padding: 4rem;
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    box-shadow: 5px 5px;
    color: rgba(0, 0, 0, 0.4);
}
@media only  screen and (max-width: 800px){
    
    .Skills_showcase{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .Skill_avatar{
        width: 100px;
        height: 100px;
 
    }
    .Skill{
        padding: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .Skill__title{
        font-size: var(--h1-font-size);
        color: var(--title-color);
        font-weight: bold;
    }
    .Skill_desc{
        font-size: var(--font-medium);
         
        padding: 0.5rem;
    }
}
