.skills_container{
    justify-content: center;
}
 
.Skills_showcase{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;

}

.Skill_avatar{
    width: 100px;
    height: 100px;
}
.Title{
    text-align: center;
    font-size: var(  --big-font-size);
    color: var(--title-color);
    padding: 2rem;
}
.Skill__title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: bold;
}
.Skill_desc{
    
    padding: 0.5rem;
}
.Skill{
    padding: 1.5rem;
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    box-shadow: 5px 5px;
    color: rgba(0, 0, 0, 0.4);
   display: flex;
   align-items: center;
   gap:1rem;
   flex-direction: column;
}
@media only  screen and (max-width: 800px){
    .Skills_showcase{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .Skill_avatar{
        width: 50px;
        height: 50px;
 
    }
    .Skill{
        padding: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: none;
        box-shadow: none;
    }
    .Skill__title{
        font-size: var(--h1-font-size);
        color: var(--title-color);
        font-weight: bold;
    }
    .Skill_desc{
        font-size: var(--font-medium);
         
        padding: 0.5rem;
    }
}
