.about_container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 4rem;
}
.about_img{
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}
.about_info{
    grid-template-columns: repeat(3,140px);
    gap:0.5rem;
    margin-bottom: var(--mb-2);
}
.about_box{
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.75rem;
    text-align:center;
    padding:1rem 1.25rem;
}
 
.about{
    margin-top: 20vh;
}
.about_icon{
    font-size:1.5rem;
    color:var(--title-color);
    margin-bottom:var(--mb-0-5);
}
.about_title{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}
.about_subtitle{
    font-size: var(--tiny-font-size);
}
.about_description{
    padding:0 4rem 0 0 ;
    margin-bottom: var(--mb-2-5);
}
.button {
    padding:1rem 1.75rem;
 
}
.dark{
    background-color: rgb(74, 73, 73);
    color:#fff;
}
.description{
    font-weight: bold;
}
@media only  screen and (max-width: 800px){
        .about{
       
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
       
        .about_img{
            display: none;
        }
        .about_data{
           display: flex;
           flex-direction: column;
            align-items: center;
        }
        .about_info{
            display: flex;
            justify-content: center;
           
        }
        .about_box{
            border: none;
            background-color: var(--body-color);
        }
        .about_container{
            grid-template-columns: 100%;
           
        }
        .about_description1{
           text-align: center;
            font-size: var(--small-font-size);
            padding: 0.5rem;
        }
        .about_description2{
            padding: 0.5rem;
            margin-bottom: 50px;
        }
        .button{
            margin-left: 0 !important;
            width: 30% !important;
        }
         
         

        
}